*{
    font-family: Helvetica, Arial, sans-serif;
    color:#ffffff;
}
body{
    background-color: #0f161c;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
ul, h1, p, a, span, h2, h3{
    color:white;
    font-family:sans-serif;
}
a:hover{
    color:orange;
    text-decoration: none;
}
span{
    font-size:12px;
}
h3{
    text-decoration: underline;
    font-style: italic;
    font-size: 18px;
}
h1{
    text-align: center;
}
h2{
    padding-left:12px;
}
.entry{
    display:inline-block;
}
#current_page a{
    color:orange;
}
